<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item", align="center">
      <img src="http://www.margeschicago.com/UserFiles/image/_MG_0544.JPG" Height="450" Width="800" alt>
    </div>
     <div class="item", align="center">      
      <img src="http://www.popculturecuisine.com/wp-content/uploads/2011/01/Three-Little-Piggies.jpg" Height="350" Width="800" alt>
    </div>
  <div class="item", align="center">      
      <img src="http://aht.seriouseats.com/images/2011/11/20111201-butcher-and-burger-umami-side.jpg" Height="350" Width="800" alt>
      </div>

  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<h3 align="center"> Eat || Explore || Share </h3>